/* styles.css */
div {
    -webkit-app-region: no-drag;
}

body {
  background-image: url("ressources/images/bg1440_810.png");
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow-y: hidden;
}

#btn_close { 
  position: absolute;
  margin-left: 1335px;
  margin-top: 75px;
  top: -2cm;
  left: -4cm;
  width: 4cm;
  height: 4cm;
  background-image: url("ressources/images/rond_r.png");
  background-size: 80%;
  background-repeat: no-repeat;
}

#btn_close:hover {
  position: absolute;
  margin-left: 1335px;
  margin-top: 75px;
  top: -2cm;
  left: -4cm;
  width: 4cm;
  height: 4cm;
  background-image: url("ressources/images/rond_v.png");
  background-size: 80%;
  background-repeat: no-repeat;
}

.close {
  color: red;
  margin-top: 40px;
  margin-left: 45px;
  opacity: 0;
  font-family: "aurebesh";
  width: 1cm;
  height: 1cm;
}

.close:hover {
  color: red;
  margin-top: 40px;
  margin-left: 45px;
  opacity: 0.1;
  font-family: "aurebesh";
  width: 1cm;
  height: 1cm;
}

#btn_reduce { 
  position: absolute;
  margin-left: 1463px;
  margin-top: 180px;
  top: -2cm;
  left: -4cm;
  width: 4cm;
  height: 4cm;
  background-image: url("ressources/images/rond_b.png");
  background-size: 80%;
  background-repeat: no-repeat;
}

#btn_reduce:hover { 
  position: absolute;
  margin-left: 1463px;
  margin-top: 180px;
  top: -2cm;
  left: -4cm;
  width: 4cm;
  height: 4cm;
  background-image: url("ressources/images/rond_v.png");
  background-size: 80%;
  background-repeat: no-repeat;
}

.reduce {
  color: cyan;
  margin-top: 43px;
  margin-left: 43px;
  opacity: 0;
  font-family: "aurebesh";
  width: 1cm;
  height: 1cm;
}

.reduce:hover {
  color: cyan;
  margin-top: 43px;
  margin-left: 43px;
  opacity: 0.1;
  font-family: "aurebesh";
  width: 1cm;
  height: 1cm;
}

#btn_btn_1 {
  position: absolute;
  margin-left: 925px;
  margin-top: 650px;
  top: -2cm;
  left: -4cm;
  width: 6cm;
  height: 6cm;
  background-image: url("ressources/images/bouton-1.png");
  background-size: 80%;
  background-repeat: no-repeat;
}

#btn_btn_1:hover {
  position: absolute;
  margin-left: 925px;
  margin-top: 650px;
  top: -2cm;
  left: -4cm;
  width: 6cm;
  height: 6cm;
  background-image: url("ressources/images/bouton-1_hover.png");
  background-size: 80%;
  background-repeat: no-repeat;
}

.launch {
  color: cyan;
  margin-top: 50px;
  margin-left: 35px;
  opacity: 0;
  font-family: "aurebesh";
  width: 3cm;
  height: 1cm;
}

.launch:hover {
  color: cyan;
  margin-top: 50px;
  margin-left: 35px;
  opacity: 0.1;
  font-family: "aurebesh";
  width: 3cm;
  height: 1cm;
}

#btn_btn_2 {
  position: absolute;
  margin-left: 680px;
  margin-top: 280px;
  top: -2cm;
  left: -4cm;
  width: 6cm;
  height: 6cm;
  background-image: url("ressources/images/bouton-1.png");
  background-size: 80%;
  background-repeat: no-repeat;
}

#btn_btn_2:hover {
  position: absolute;
  margin-left: 680px;
  margin-top: 280px;
  top: -2cm;
  left: -4cm;
  width: 6cm;
  height: 6cm;
  background-image: url("ressources/images/bouton-1_hover.png");
  background-size: 80%;
  background-repeat: no-repeat;
}

.update {
  color: cyan;
  margin-top: 50px;
  margin-left: 35px;
  opacity: 0;
  font-family: "aurebesh";
  width: 3cm;
  height: 1cm;
}

.update:hover {
  color: cyan;
  margin-top: 50px;
  margin-left: 35px;
  opacity: 0.1;
  font-family: "aurebesh";
  width: 3cm;
  height: 1cm;
}

#btn_info {
  position: absolute;
  margin-left: 350px;
  margin-top: 340px;
  top: -2cm;
  left: -4cm;
  width: 35cm;
  height: 25cm;
  background-image: url("ressources/images/fond_1.png");
  background-size: 80%;
  background-repeat: no-repeat;
}

#btn_profil {
  position: absolute;
  margin-left: 1165px;
  margin-top: 475px;
  top: -2cm;
  left: -4cm;
  width: 4cm;
  height: 4cm;
  background-image: url("ressources/images/profil.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#btn_profil:hover {
  position: absolute;
  margin-left: 1165px;
  margin-top: 475px;
  top: -2cm;
  left: -4cm;
  width: 4cm;
  height: 4cm;
  background-image: url("ressources/images/profil_hover.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.profil {
  color: blue;
  margin-top: 20px;
  margin-left: 20px;
  opacity: 0;
  width: 3cm;
  height: 3cm;
}

.profil:hover {
  color: blue;
  margin-top: 20px;
  margin-left: 20px;
  opacity: 0.1;
  width: 3cm;
  height: 3cm;
}

#btn_settings {
  position: absolute;
  margin-left: 1215px;
  margin-top: 395px;
  top: -2cm;
  left: -4cm;
  width: 2cm;
  height: 2cm;
  background-image: url("ressources/images/param.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

#btn_settings:hover {
  position: absolute;
  margin-left: 1215px;
  margin-top: 395px;
  top: -2cm;
  left: -4cm;
  width: 2cm;
  height: 2cm;
  background-image: url("ressources/images/param_hover.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

.settings {
  color: blue;
  margin-top: 20px;
  margin-left: 20px;
  opacity: 0;
  width: 1cm;
  height: 1cm;
}

.settings:hover {
  color: blue;
  margin-top: 20px;
  margin-left: 20px;
  opacity: 0.1;
  width: 1cm;
  height: 1cm;
}

#btn_settings_cadre {
  position: absolute;
  margin-left: 1195px;
  margin-top: 390px;
  top: -2cm;
  left: -4cm;
  width: 2.7cm;
  height: 2.2cm;
  background-image: url("ressources/images/cadre_g.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
/* Add styles here to customize the appearance of your app */